<div class="pull-right">
	<ul class="list-inline list-unstyled">
		<li>
			<div
				class="fb-like"
				data-share="true"
				data-width="450"
				data-show-faces="true">
			</div>
			</li>
		<li>
			<div class="fb-like" data-href="https://sudoweather.herokuapp.com" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
		</li>
		<li>
			<div class="fb-share-button" data-href="https://sudoweather.herokuapp.com" data-layout="box_count"></div>
		</li>
	</ul>
</div>
