<div class="pull-left">
	<ul class="list-inline list-unstyled">
		<li>
			<div class="fb-like" data-href="https://apps.facebook.com/sudoweather" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
		</li>
	</ul>
</div>
