<p class="text-center text-muted">
	Copyright 1800-2050 &middot; Sudo Dezigns
	<ul class="text-center list-unstyled list-inline">
		<li><a target="_blank" href="mailto:sudo.dezigns@gmail.com">sudo.dezigns@gmail.com</a></li>
		<li><a target="_blank" href="http://www.facebook.com/sudodez">facebook.com/sudodez</a></li>
		<li><a target="_blank" href="http://www.twitter.com/sudodez">twitter.com/sudodez</a></li>
	</ul>
</p>
<p class="text-center text-muted">All Thanks, Praise, Glory and Honor to GOD, the source of everything!</p>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$("#tag-plus").animate({
			opacity: .5,
			duration: 5000},
			500, function() {
			$(this).animate({
				opacity: .8,
				duration: 5000},
				800, function() {
				/* stuff to do after animation is complete */
			});
		});;
	});
</script>