<footer class="container-fluid">
	<div class="text-center text-muted">
		<div class="col-xs-12 col-md-5 text-right">
			<p>The app is hosted on heroku via this address: <a href="https://insta4toz.herokuapp.com" title="instagram photos and weather data web application">https://insta4toz.herokuapp.com</a></p>
			<p>Please feel free to browse other pages to see fun features of the app.</p>
			<p>Much love and God Bless!</p>
		</div>
		<div class="col-xs-12 col-md-2 text-primary">
			<span><i class="glyphicon glyphicon-tower footer-glyph"></i></span>
		</div>
		<div class="col-xs-12 col-md-5 text-left">
			<p>Copyright 1800-2050 &middot; Sudo Dezigns</p>
			<p>
				<ul class="list-unstyled list-inline">
					<li><a target="_blank" href="mailto:sudo.dezigns@gmail.com">sudo.dezigns@gmail.com</a></li>
					<li><a target="_blank" href="http://www.facebook.com/sudodez">facebook.com/sudodez</a></li>
					<li><a target="_blank" href="http://www.twitter.com/sudodez">twitter.com/sudodez</a></li>
				</ul>
			</p>
			<p>All Thanks, Praise, Glory and Honor to GOD, the source of everything!</p>
		</div>
	</div>
</footer>