<footer class="row">
	<div class="text-center text-muted">
		<div class="col-xs-12 col-md-5 text-right">
			<div class="fb-page" data-href="https://www.facebook.com/sudodez" data-width="500" data-height="272" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
				<blockquote cite="https://www.facebook.com/sudodez" class="fb-xfbml-parse-ignore">
					<a href="https://www.facebook.com/sudodez">Sudo Dezigns</a>
				</blockquote>
			</div>
		</div>
		<div class="col-xs-12 col-md-2 text-primary">
			<span><i class="glyphicon glyphicon-fire footer-glyph"></i></span>
		</div>
		<div class="col-xs-12 col-md-5 text-left">
			<p>Copyright 2015-2016 &middot; Sudo Dezigns</p>
			<p>
				<ul class="list-unstyled list-inline">
					<li><a target="_blank" href="mailto:sudo.dezigns@gmail.com">sudo.dezigns@gmail.com</a></li>
					<li><a target="_blank" href="http://www.facebook.com/sudodez">facebook.com/sudodez</a></li>
					<li><a target="_blank" href="http://www.twitter.com/sudodez">twitter.com/sudodez</a></li>
				</ul>
			</p>
			<p>All Thanks, Praise, Glory and Honor to the maker, GOD.</p>
		</div>
	</div>
</footer>