<p class="text-center text-muted">
	Copyright 1800-2050 &middot; Sudo Dezigns
	<ul class="text-center list-unstyled list-inline">
		<li><a target="_blank" href="mailto:sudo.dezigns@gmail.com">sudo.dezigns@gmail.com</a> &middot; </li>
		<li><a target="_blank" href="http://www.facebook.com/sudodez">facebook.com/sudodez</a> &middot; </li>
		<li><a target="_blank" href="http://www.twitter.com/sudodez">twitter.com/sudodez</a></li>
	</ul>
</p>