<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
				<span class="glyphicon glyphicon-tower"></span> Insta4toz
			</a>
			<button class="navbar-toggle collapse" data-toggle="collapse" data-target="#mobile-menu" type="button">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse text-uppercase" id="mobile-menu">
			<div class="navbar-text navbar-right">
				<a class="navbar-link" href="www.facebook.com/sudodez">Follow Us!</a>
			</div>
			<ul class="nav navbar-nav" role="menu">
				<li><a class="active" href="/">home</a></li>
				<li><a href="/newguinea">New Guinea</a></li>
				<li><a href="/weather">Weather</a></li>
				<li><a href="#">Tag</a></li>
			</ul>
		</div>
	</div>
</nav>