@import url(https://fonts.googleapis.com/css?family=Rufina|Josefin+Sans);
body {
	padding-top: 50px;
}
footer {
	padding: 50px;
}
div.likes {
	position: relative;
	float: right;
	bottom: 2em;
	right: 1em;
}
div.comments {
	position: relative;
	float: left;
	bottom: 2em;
	left: 1em;
}
.caption {
    float: left;
    width: 90%;
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    position: absolute;
    background-color: steelblue;
    color: azure;
    bottom: 1.4em;
    opacity: .2;
    height: 3.25em;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
.caption:hover {
	opacity: .9;
}

/* weather data styling */
.weather-data-widget{
    border: 1px solid black;
    border-radius: 2px;
    top: 1em;
    background-color: darkorange;
    color: white;
    list-style: none;
}

.weather-data-widget>ul>li {
    list-style: none;
    padding-left: 3em;
}

.bordered-circle {
    background-color: black;
    border-radius: 50%;
    height: 5em;
    width: 5em;
    border: 1px solid white;    
    float: left;
    position: absolute;
    padding-left: 2px !IMPORTANT;
    padding-top: 25px;
}

li.city{
    left: 10px;
    top: 5px;
}

li.temp{
    left: 10px;
    top: 80px;
}

.weather-data-widget>ul>li:nth-child(1) {
    padding-top: 10px;
}
span.weather-data-detail {
    color: navajowhite;
    font-size: smaller;
    text-shadow: 1px 1px 2px black;
}
.headline {
    font-family: 'Oswald','Lobster','Rufina',serif;
    color: aliceblue;
    text-shadow: 1px 1px 2px cadetblue;
}
.description {
    font-family: "Dancing Script", 'Josefin Sans', sans-serif;
    color:azure;
}
#slogan {
    color: black;
    float: left;
    font-family: 'Josefin Sans', 'Rufina', serif;
}
.centre {
    margin-right: auto;
    margin-left: auto;
    display: table;
}
.jumbotron {
    background-image: url("https://slyvestery.files.wordpress.com/2015/08/flower.jpg");
    background-size: cover;
    background-position-y: 0em;
    border-radius: 0;
}
.text-black {
    color: black;
}