<ul id="menu-list" class="bg-primary list-unstyled list-inline" style="margin: 0 !important;">
	<li><h4>PNG Weather Reports<br /><span class="small text-muted">by Sudo Tech</span></h4></li>
	<li><div class="fb-like" data-href="<%= appInfo.url %>" data-width="810" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
	<li><% include ../partials/snippets/city-selection %></li>
	<li class="pull-right"><a href="/" class=""><i class="glyphicon glyphicon-home bg-primary"></i></a></li>
</ul>