<div class="pull-left">
	<!-- <ul class="list-inline list-unstyled"> -->
		<!-- <li> -->
			<div class="fb-like" data-href="https://sudoweather.herokuapp.com" data-width="810" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		<!-- </li> -->
	<!-- </ul> -->
</div>
