<div class="">
	<div class="fb-like" data-href="<%= appInfo.url %>" data-width="810" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
