<footer class="row">
	<div class="text-center text-muted">
		<div class="col-sm-6 text-primary">
			<span><i class="glyphicon glyphicon-fire footer-glyph"></i></span>
		</div>
		<div class="col-sm-6 text-left">
			<p>Copyright 2015-2017 &middot; Sudo Tech</p>
			<p>
				<ul class="list-unstyled list-inline">
					<li><a target="_blank" href="mailto:sylver.yagi@gmail.com">sylver.yagi@gmail.com</a></li>
					<li><a target="_blank" href="http://www.facebook.com/sudotech.biz">facebook.com/sudotech.biz</a></li>
					<li><a target="_blank" href="http://www.twitter.com/sudodez">twitter.com/sudodez</a></li>
				</ul>
			</p>
			<p>All Thanks, Praise, Glory and Honor to the maker, GOD.</p>
		</div>
	</div>
</footer>