<div class="row col-xs-12 text-center">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- LB_footer -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:728px;height:90px"
		     data-ad-client="ca-pub-3511968554265090"
		     data-ad-slot="9711151966"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<footer class="row text-center">
	<span>
		<ul class="list-inline list-unstyled">
			<li><a target="_blank" href="mailto:sudotechweb@gmail.com">sudotechweb@gmail.com</a></li>
			<li><a target="_blank" href="http://www.facebook.com/PNGWeatherReports">facebook.com/PNGWeatherReports</a></li>
		</ul>
	</span>
	<span class="well-sm bg-primary">All Thanks, Praise, Glory and Honor to the maker, GOD.</span>
</footer>