<footer class="row text-center text-muted">
	<div class="col-sm-4 page-header well-sm">
		<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="false"></div>
		<% include ../partials/fb-like %>
	</div>
	<div class="col-sm-4 text-primary">
		<span><i class="glyphicon glyphicon-fire footer-glyph"></i></span>
	</div>
	<div class="col-sm-4 page-header">
		<p>Copyright 2015-2017 &middot; Sudo Tech</p>
		<p>
			<ul class="list-unstyled">
				<li><a target="_blank" href="mailto:sylver.yagi@gmail.com">sylver.yagi@gmail.com</a></li>
				<li><a target="_blank" href="http://www.facebook.com/sudotech.biz">facebook.com/sudotech.biz</a></li>
				<li><a target="_blank" href="http://www.twitter.com/sudodez">twitter.com/sudodez</a></li>
			</ul>
		</p>
		<p class="well-sm bg-primary">All Thanks, Praise, Glory and Honor to the maker, GOD.</p>
	</div>
</footer>