<footer class="row text-center">
	<span>
		<ul class="list-inline list-unstyled">
			<li><a target="_blank" href="mailto:sylver.yagi@gmail.com">sylver.yagi@gmail.com</a></li>
			<li><a target="_blank" href="http://www.facebook.com/sudotech.biz">facebook.com/sudotech.biz</a></li>
			<li><a target="_blank" href="http://www.twitter.com/sudodez">twitter.com/sudodez</a></li>
		</ul>
	</span>
	<span class="well-sm bg-primary">All Thanks, Praise, Glory and Honor to the maker, GOD.</span>
</footer>