<nav class="navbar navbar-default navbar-fixed-top flexbox-center">
	<a class="navbar-brand" href="/"><span id="fb-propic"></span></a>
	<h3 id="fb-welcome" class="navbar-brand"></h3>
	<form class="form-inline navbar-form nav navbar-nav navbar-right form-group" action="/api/weather/">
		<input class="form-control text-center text-info bg-success" type="text" name="city" placeholder="Pick a city or start typing to filter cities" id="seach_city" autocomplete="true" list="cities">
		<datalist id="cities">
			<option value="Port Moresby">
			<option value="Lae">
			<option value="Arawa">
			<option value="Mount Hagen">
			<option value="Madang">
			<option value="Wewak">
			<option value="Goroka">
			<option value="Kokopo">
			<option value="Popondetta">
			<option value="Aitape">
			<option value="Rabaul">
			<option value="Kimbe">
			<option value="Tabubil">
			<option value="Daru">
			<option value="Kavieng">
			<option value="Alotau">
			<option value="Vanimo">
			<option value="Bulolo">
			<option value="Kiunga">
			<option value="Kundiawa">
			<option value="Mendi">
			<option value="Kainantu">
			<option value="Lorengau">
			<option value="Ialibu">
			<option value="Kerema">
			<option value="Ningerum">
			<option value="Wau">
			<option value="Wabag">
			<option value="Rabaul">
		</datalist>
		<button class="btn btn-success-outline" type="submit"><i class="glyphicon glyphicon-search"></i></button>
	</form>
</nav>
