<title>Sudo Weather App by Sudo Tech PNG Ltd</title>
<meta charset="UTF-8" >
<meta lang="en" >
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/united/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/leaflet.css">
<script src="/scripts/leaflet.js"></script>
<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" /> -->
<!-- <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script> -->
<!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin=""/> -->
<!-- <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script> -->
<meta property="og:url" content="<%= appInfo.url %>" />
<meta property="og:type" content="article" />
<meta property="og:title" content="<%= appInfo.title %>" />
<meta property="og:description" content="<%= appInfo.description %>" />
<meta property="og:image" content="<%= appInfo.img.url %>" />