<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-alpha.47/angular2.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.js"></script>
<script>
	var weatherData = null,
	cityURL = document.URL.split('?')[1];
	// console.log('cityURL',cityURL)
	function createGraph(forecastData) {
		nv.addGraph(function() {
			var chart = nv.models.lineChart()
				.height(300)
				.useInteractiveGuideline(true);
			chart.xAxis
				.axisLabel("Date & Time")
				.tickFormat((d)=>{
					// console.log("date time fx =",new Date(d*1000))
					return d3.time.format('%d/%m %H:%M')(new Date(d*1000));
				})
				// .tickFormat(d3.format('g'));
			chart.yAxis
				.axisLabel(null)
				.tickFormat(d3.format('g'));
			// console.log("chartData -",forecastData)
			d3.select("#forecast-graph>svg")
				.datum(forecastData)
				.call(chart);
			nv.utils.windowResize(function(){chart.update()});
			return chart;
		});
	}
	$(()=>{
		var weatherMap = L.map('map').setView([51.505,-0.09], 6);
		// L.tileLayer('http://{s}.title.osm.org/{z}/{x}/{y}.png', {
		// 	attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		// }).addTo(weatherMap);
		// L.control.weather().addTo(weatherMap);
	});
	$(document).ready(function() {
		$.get("/api/forecast/?"+cityURL)
			.done(function(data){
				console.log('forecast data -',data);
				createGraph(data);
				let a = $('#forecast-graph>svg')[0];
				// svgAsPngUri(a,{},function(uri){
				// 	console.log(uri);
				// 	$('meta[property="og:image"]').context.URL = uri;
				// })			
			});
	});
</script>