<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container-fluid">
		<div id="fb-root"></div>
		<% include ../partials/facebook-integration %>
		<section id="header" class="row bg-primary">
			<div class="col-xs-12">
				<% include ../partials/fb-like %>
			</div>
		</section>
		<section id="main" class="row">
			<section class="container-fluid bg-info">
				<div class="row">
					<div class="col-xs-12 col-sm-9" >
						<div id="map" style="height: 500px; width: 100%;"></div>
					</div>
					<div class="col-xs-12 col-sm-3">
						<div class="col-xs-12 well">
							<h3><a href="/api/weather/?city=Port Moresby">Port Moresby</a></h3>
						</div>
						<div class="col-xs-12 well">
							<h3><a href="/api/weather/?city=Lae">Lae</a></h3>
						</div>
						<div class="col-xs-12 well">
							<h3><a href="/api/weather/?city=Mount Hagen">Mt. Hagen</a></h3>
						</div>
						<div class="col-xs-12 well">
							<h3><a href="/api/weather/?city=Rabaul">Rabaul</a></h3>
						</div>
						<div class="col-xs-12 well">
							<h3><a href="/api/weather/?city=Goroka">Goroka</a></h3>
						</div>
					</div>
						<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfFTIqNgLLGRCGqCwLlnxzlZb3FX51ccyQot87xdBc1KqcE1w/viewform?embedded=true" width="100%" height="860" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
				</div>
			</section>
		</section>
		<% include ../partials/footer %>
	</body>
	<% include ../partials/scripts %>
	<!-- <script src="/scripts/saveSvgAsPng.js"></script> -->
</html>