<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container-fluid">
		<div id="fb-root"></div>
		<script type="text/javascript" src="/scripts/facebook-integration.js"></script>
		<section id="header">
			<header class="row">
				<% include ../partials/header %>
			</header>
			<article class="row flexbox-center">
				<div class="col-sm-12"><% include ../partials/fb-like %></div>
				<div id="fb-propic" class="col-sm-12"></div>
				<h3 id="fb-welcome" class="col-sm-12"></h3>
			</article>
		</section>
		<section id="main">
			<div class="well-lg">
				<h1 class="page-header">Sudo Weather Reports <span class="small text-muted pull-right">by Sudo Tech</span></h1>
				<section class="text-center">
					<div class="col-sm-4">
						<i class="glyphicon glyphicon-search"></i><br>
						<h3><a href="/api/?city=Port Moresby">Port Moresby</a></h3>
						<p>7 day weather forecast including weather update</p>
					</div>
					<div class="col-sm-4">
						<i class="glyphicon glyphicon-search"></i><br>
						<h3><a href="/api/?city=Lae">Lae</a></h3>
						<p>7 day weather forecast including weather update</p>
					</div>
					<div class="col-sm-4">
						<i class="glyphicon glyphicon-search"></i><br>
						<h3><a href="/api/?city=Mount Hagen">Mount Hagen</a></h3>
						<p>7 day weather forecast including weather update</p>
					</div>
				</section>
			</div>
		</section>
		<section id="footer"></section>
	</body>
</html>