<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container-fluid">
		<div id="fb-root"></div>
		<% include ../partials/facebook-integration %>
		<section id="header" class="row bg-primary">
			<div class="col-xs-12">
				<% include ../partials/header %>
			</div>
		</section>
		<section id="main" class="row">
			<section class="container-fluid bg-info">
				<div class="row">
					<div class="col-xs-12" >
						<div id="map" style="height: 500px; width: 100%;"></div>
					</div>
				</div>
			</section>
		</section>
		<% include ../partials/footer %>
	</body>
	<% include ../partials/scripts %>
	<% include ../partials/forecast-data %>
	<!-- <script src="/scripts/saveSvgAsPng.js"></script> -->
</html>