<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->
<table id="calendar" class="table text-center text-uppercase">
<thead>
<tr>
<td width="auto"><strong>MON</strong></td>
<td width="auto"><strong>TUE</strong></td>
<td width="auto"><strong>WED</strong></td>
<td width="auto"><strong>THU</strong></td>
<td width="auto"><strong>FRI</strong></td>
<td width="auto"><strong>SAT</strong></td>
<td width="auto"><strong>SUN</strong></td>
</tr>
</thead>
<tbody style="font-size: xx-large;">
<tr>
<td width="auto"></td>
<td width="auto"></td>
<td width="auto"></td>
<td width="auto"></td>
<td width="auto">01</td>
<td width="auto">02</td>
<td width="auto">03</td>
</tr>
<tr>
<td width="auto">04</td>
<td width="auto">05</td>
<td width="auto">06</td>
<td width="auto">07</td>
<td width="auto">08</td>
<td width="auto">09</td>
<td width="auto">10</td>
</tr>
<tr>
<td width="auto">11</td>
<td width="auto">12</td>
<td width="auto">13</td>
<td width="auto">14</td>
<td width="auto">15</td>
<td width="auto">16</td>
<td width="auto">17</td>
</tr>
<tr>
<td width="auto">18</td>
<td width="auto">19</td>
<td width="auto">20</td>
<td width="auto">21</td>
<td width="auto">22</td>
<td width="auto">23</td>
<td width="auto">24</td>
</tr>
<tr>
<td width="auto">25</td>
<td width="auto">26</td>
<td width="auto">27</td>
<td width="auto">28</td>
<td width="auto">29</td>
<td width="auto">30</td>
<td width="auto"></td>
</tr>
</tbody>
</table>
<h3 class="text-center text-uppercase"><strong>2017</strong> September</h3>