<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="">
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '1476643879330794',
		      xfbml      : true,
		      version    : 'v2.4'
		    });

		    // ADD ADDITIONAL FACEBOOK CODE HERE
		    // Place following code after FB.init call.

				function onLogin(response) {
				  if (response.status == 'connected') {
				    FB.api('/me?fields=first_name', function(data) {
				      var welcomeBlock = document.getElementById('fb-welcome');
				      welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
				    });
				  }
				}

				FB.getLoginStatus(function(response) {
				  // Check login status on load, and if the user is
				  // already logged in, go directly to the welcome message.
				  if (response.status == 'connected') {
				    onLogin(response);
				  } else {
				    // Otherwise, show Login dialog first.
				    FB.login(function(response) {
				      onLogin(response);
				    }, {scope: 'user_friends, email'});
				  }
				});
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>
<h1 id="fb-welcome"></h1>
		<header class="row">
			<% include ../partials/header %>
		</header>
		<main class="container-fluid text-info">
			<div class="jumbotron ">
				<div class="row">
					<span id="slogan" class="text-lowercase description">sudo dezigns | wow is just the beginning | www.facebook.com/sudodez</span>
					<h1 class="text-uppercase headline"><i class='glyphicon glyphicon-fire small' style="color: purple;text-shadow: 2px 2px 2px azure;"></i>Welcome</h1>
					<p class="description col-md-4 text-black">Hello! Welcome to the first sudo dezigns online app. I have tried to pack it with more the one awesome feature so that it will keep you coming back for more. <br /><br /><i class="glyphicon glyphicon-globe"></i><span class="text-black text-info"> Please feel free to leave a comment on our facebook page <a href="http://www.facebook.com/sudodez">www.facebook.com/sudodez</a>.</span></p>
				</div>
			</div>
			<!-- instagram photos will be displayed here -->
			<div class="row">
				<div class="emphasize text-center col-xs-12">
					<strong class="text-info h3">"#tags"</strong>
					<div class="text-info">All photos shown in this page were randomly generated with this tag.</div>
				</div>
			</div>
			<div class="row h1 text-centre">
				<div class="visible-lg">Large</div>
				<div class="visible-md">Medium</div>
				<div class="visible-sm">Small</div>
				<div class="visible-xs">Extra Small</div>
			</div>
		</main>
		<footer class="clear container-fluid">
			<% include ../partials/footer %>
		</footer>
	</body>
	<% include ../partials/scripts %>
</html>