<form class="form-horizontal navbar-form nav navbar-nav form-group" action="/api/weather/">
	<select class="form-control text-center text-info bg-success" name="city" id="search_city" autocomplete="true">
		<option value="empty">Select a city</option>
		<option value="Aitape">Aitape</option>
		<option value="Alotau">Alotau</option>
		<option value="Arawa">Arawa</option>
		<option value="Bulolo">Bulolo</option>
		<option value="Daru">Daru</option>
		<option value="Goroka">Goroka</option>
		<option value="Ialibu">Ialibu</option>
		<option value="Kainantu">Kainantu</option>
		<option value="Kavieng">Kavieng</option>
		<option value="Kerema">Kerema</option>
		<option value="Kimbe">Kimbe</option>
		<option value="Kiunga">Kiunga</option>
		<option value="Kokopo">Kokopo</option>
		<option value="Kundiawa">Kundiawa</option>
		<option value="Lae">Lae</option>
		<option value="Lorengau">Lorengau</option>
		<option value="Madang">Madang</option>
		<option value="Mount Hagen">Mount Hagen</option>
		<option value="Mendi">Mendi</option>
		<option value="Popondetta">Popondetta</option>
		<option value="Port Moresby">Port Moresby</option>
		<option value="Rabaul">Rabaul</option>
		<option value="Tabubil">Tabubil</option>
		<option value="Vanimo">Vanimo</option>
		<option value="Wau">Wau</option>
		<option value="Wabag">Wabag</option>
		<option value="Wewak">Wewak</option>
	</select>
</form>